{% extends "templates/main.njk" %}

{% set title = 'Main Page' %}
{% set bodyClass = 'main-page' %}

{% block content %}
	{% include "blocks/main.njk" %}
	{% include "blocks/restrict.njk" %}
	{% include "blocks/goals.njk" %}
{% endblock %}

{% block scripts %}
{% endblock %}