<h3>ПОКАЗАНИЯМИ К ПРИМЕНЕНИЮ ТРЕНАЖЕРА-МАССАЖЕРА DREVMASS ЯВЛЯЮТСЯ:</h3>

<ul>
  <li>сколиозы (дисплазические, идеспатические, статические) – протрузии</li>
  <li>межпозвоночные грыжи</li>
  <li>спондилез</li>
  <li>ишиас</li>
  <li>кифоз</li>
  <li>остеохондрозы</li>
  <li>кифолордозы</li>
  <li>грыжи Шморля 3-5 мм</li>
  <li>артрозы и артриты суставных отростков тел позвонков</li>
  <li>начальные формы болезни Бехтерева (анкилозирующий спондилоартроз)</li>
  <li>рефлекторные синдромы, в виде мышечно – тонических, вегетативно-сосудистых и нейротрофических проявлений в острых и хронических стадиях течения болезни</li>
  <li>люмбоишалгия с наличием стойкой миофиксации</li>
  <li>корешковые синдромы с симптомами раздражения и выпадения без сосудистого компонента</li>
</ul>

<h3>ПРОТИВОПОКАЗАНИЯМИ К ПРИМЕНЕНИЮ ТРЕНАЖЕРА-МАССАЖЕРА DREVMASS ЯВЛЯЮТСЯ:</h3>

<ul>
  <li>неясный диагноз</li>
  <li>усиление боли после первого занятия</li>
  <li>выраженные болевые синдромы с психомоторным возбуждением</li>
  <li>легочная, сердечно-сосудистая, почечная или печёночная недостаточность</li>
  <li>травмы позвоночника</li>
  <li>лихорадочные состояния в стадии обострения</li>
  <li>инфекционные заболевания</li>
  <li>обострения соматических и хронических заболеваний</li>
  <li>наличие злокачественных и доброкачественных образований</li>
  <li>состояние декомпенсации при заболеваниях сердечно-сосудистой системы, лёгких, печени, почек</li>
  <li>болезни крови и кроветворных органов в стадии декомпенсации</li>
  <li>беременность</li>
  <li>гипертония в 3-4 стадии</li>
  <li>острые воспалительные процессы, гнойные процессы любой локализации (кожа, подкожная клетчатка, лимфатические узлы, мышцы, кости): экземы, импетиго, лимфадениты, флегмоны, остеомиелиты, артриты, беркулёз костей и суставов и пр.</li>
  <li>повышенная температура, повышенное кровяное давление, вирусные инфекции</li>
  <li>острые нефриты, острые гепатиты</li>
  <li>тяжёлые формы гипотрофии (атрофия)</li>
  <li>активная форма туберкулёза лёгких</li>
  <li>сифилис</li>
  <li>хронический остеомиелит</li>
  <li>ломкость и болезненность костей</li>
  <li>большие пупочные, паховые, мошоночные грыжи со значительным выпадением органов брюшной полости или при выраженной склонности к ущемлению</li>
  <li>сильные посттравматические боли (каузалгический синдром)</li>
  <li>боли невыясненного характера при пальпации живота</li>
  <li>тошнота, рвота</li>
  <li>тяжёлые психические заболевания</li>
</ul>

<h3>ВОЗМОЖНЫЕ ПОБОЧНЫЕ ЭФФЕКТЫ:</h3>

<p>При применении массажера-тренажёра могут возникнуть общие и местные реакции, такие как:</p>

<ul>
  <li>гиперемии (покраснения) на массируемой поверхности</li>
  <li>в случае хрупкости стенок кровеносных сосудов возможно появление подкожных кровоизлияний на массируемой поверхности</li>
  <li>болезненность мышц и тканей после первых процедур</li>
  <li>сонливость или, напротив, возбуждение после первых процедур</li>
  <li>усиление деятельности выделительных систем в течение всего курса массажа и после его окончания</li>
  <li>подкожные гематомы</li>
  <li>усиление боли после первого занятия</li>
</ul>

<p>При неправильном применении массажера-тренажёра может возникнуть повышение артериального давления.</p>
