{# 
 # Блок 3 главные цели
 #}

{% set goals = [
  {
    text: "Снять мышечные блоки и спазмы с околопозвоночных мышц и мускулатуры спины"
  },
  {
    text: "Возобновить циркуляцию крови, лимфы и спинномозговой жидкости"
  },
  {
    text: "Плавно растянуть позвоночник, снизив давление на межпозвоночные диски и напитав их кровью"
  },
  {
    text: "Все это делать систематически и ежедневно по 7 минут в день"
  }
] %}

<section class="goals overflow-hidden">
  
  <div class="container">

    {# Title #}
    <h2 class="h1 mb-3">Четыре цели, которых нужно добиваться каждый день для <strong class="text-info">избавления и предупреждения от боли в спине*</strong></h2>
    {# Subtitle #}
    <blockquote class="mb-5 blockquote" style="max-width: 850px; opacity: 0.5;">
      <p class="mb-0">*Мы не рассматриваем тяжелые патологии и запущенные случаи, которые требуют профессиональной консультации, а те проблемы, которые решают 90% людей приходящих к нам</p>
    </blockquote>
    
    <div class="row">
      <div class="col-12 col-lg-5">
        {# Goals list #}
        <ul class="list-unstyled font-weight-light">

          {% for g in goals %}

            <li class="d-flex align-items-start mb-5">
              <div class="mr-4">
                <img src="static/images/g{{loop.index}}.svg" alt="иконка">
              </div>
              <div>{{ g.text }}</div>
            </li>           

          {% endfor %}

        </ul>
      </div>
      <div class="col-12 col-lg-7">
        {# CTA #}
        <div class="px-4 px-sm-5 py-4 position-relative">
          <div class="bgout-primary rounded" style="left: 0;"></div>

          <p class="lead text-white font-weight-bold mb-4">Достичь этих эффектов возможно разными путями - пролечиться у врача-невролога, проходить курс массажа, подобрать специальные упражнения, а иногда и все вместе.</p>
          <p class="lead text-white font-weight-bold mb-4">Все это помогает, но вы тратите месяцы и годы времени, тратя по нескольку часов в день и не одну сотню рублей в сумме.</p>

          <a href="#" class="btn text-gray bg-white rounded-pill">
            <img src="static/images/finger.svg" alt="" class="mr-3">
            <span>Решить проблему всего за 10,5 часов</span>
          </a>
        </div>
      </div>
    </div>
  </div>

</section>