{% set title = "Мы настолько уверены в эффективности Древмасс, что готовы вернуть деньги если Вы не получите результат за 3 мес. занятий" %}

<section class="haranty overflow-hidden" id="garantiya">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-5">
        {# Image #}
        <div class="mb-4">
          <img src="static/images/content/ceo.jpg"
               alt="Фото основателя Древмасс"
               class="w-100"
               style="height: 125%; object-fit: cover;"
          >
        </div>
        {# Contacts #}
        <h4 class="h6">Личные контакты собственника</h4>
        <div class="haranty__contacts position-relative pl-3 pr-5 py-3 d-inline-flex flex-column flex-sm-row mb-3 mb-lg-0">
          {# Phone #}
          <div class="d-flex d-sm-block align-items-center mr-5 mb-3 ">
            <a href="tel:+79200543377"
               class="mr-2 font-weight-light d-block mb-sm-2 text-decoration-none text-dark"
               target="_blank"
            >
              +7 920 054 33 77
            </a>
            <a href="https://wa.me/+79200543377"
               class="d-inline-block align-middle mr-2"
               target="_blank"
            >
              <img src="static/images/wa.svg" alt="Whats App" class="img-fluid">
            </a>
            <a href="tel:+79200543377" class="d-inline-block align-middle" target="_blank">
              <img src="static/images/tel.svg" alt="Phone" class="img-fluid">
            </a>
          </div>
          {# Socials #}
          <div class="d-flex d-sm-block align-items-center">
            <strong class="font-weight-light d-block mb-sm-2 mr-2">
              Профили в соцсетях:
            </strong>
            <a href="https://instagram.com/savchenko.dev"
               class="d-inline-block align-middle mr-2" target="_blank"
            >
              <img src="static/images/inst.svg" alt="Whats App" class="img-fluid">
            </a>
            <a href="https://t.me/savchenko_dev"
               class="d-inline-block align-middle mr-2" target="_blank"
            >
              <img src="static/images/tg.svg" alt="Phone" class="img-fluid">
            </a>
            <a href="https://vk.com/savchenko_dev"
               class="d-inline-block align-middle" target="_blank"
            >
              <img src="static/images/vk.svg" alt="Phone" class="img-fluid">
            </a>
          </div>
          {# BG #}
          <div class="bgout-gray rounded-lg" style="right: 0; opacity: .2;"></div>
        </div>
      </div>
      <div class="col-12 col-lg-7">
        {# Title #}
        <h2 class="haranty__title h2" style="max-width: 690px;">
          {{ title }}
        </h2>
        {# Text #}
        <p class="lead haranty__sub">
          Если Вы не получите результат - мы вернем Вам деньги.
        </p>
        <p class="haranty__text mb-5">
          ЛИЧНАЯ ГАРАНТИЯ ОТ ВЛАДЕЛЬЦА <br><br> К сожалению, в последнее время, в сети Интернет стало слишком много обмана... <br><br> Мы на рынке уже более 9 лет и доказали свою эффективность на 30000 наших клиентов из разных стран. Отстроили производство и контроль качества💪🤝 <br><br> В последнее время появились аналоги, которые хотят просто срубить денег. Будьте аккуратны в выборе! Ведь если Вы пользуетесь медицинским изделием, то ответственность за ваше здоровье несёт производитель. <br><br> Наш юридический отдел ведёт работы по каждому поддельному изделию. Все нарушители будут нести ответственность за свои действия. <br><br> Нам хочется, чтобы Древмасс для Вас был продуктом наивысшего качества с богатой комплектацией и сопровождением до результата! <br><br> Хочу заявить: “За свой продукт и за то, что я делаю, я отвечаю своим именем. Вы можете позвонить мне или написать в соц. сетях. Я открыт для любого контакта с Вами”.
        </p>
        <strong class="d-inline-block align-middle mr-5 mb-2" style="max-width: 250px">
          Артем Кутянин, <br>Владелец бренда Древмасс.
        </strong>
        <img src="static/images/content/signature.png" class="img-fluid align-middle"
             alt="Подпись владельца Артема Кутфнина" style="max-width: 135px;">
      </div>
    </div>
  </div>
</section>