{% set embedURL = '<iframe width="560" height="315" src="https://www.youtube.com/embed/a5aW5u_FgVo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>' %}

{% set effects = [
  "Возобновление движения и восстановление здорового, интенсивного тканевого обмена веществ",
  "Снятие спазмов с мускулатуры спины и околопозвоночныхглубоких мышц",
  "Освобождение хрящей и межпозвоночных дисков от передавливания, восстановление их объема и питания",
  "Снятие болевых рефлексов, освобождение от защемлений",
  "Профилактика остеохондроза, хронического болевого синдрома",
  "Исправление осанки и снятие проблем возникающих от сидячего образа жизни"
] %}

<section class="instruct">
  <div class="container">
    {# Title #}
    <h2 class="h1 mb-5">
      Чтобы снять боль - просто ложитесь на массажер и прокатывайтесь спиной по роликам по 7 минут в день
    </h2>

    <div class="row">
      <div class="col-12 col-lg-7 pr-4">

        {% set videos = [
          "Ложитесь",
          "Двигаетесь вперед-назад",
          "Ложитесь"
        ] %}

        {# Steps Previevs #}
        <div class="row mb-4" id="js-stepsPreviews">
          {% for v in videos %}
            
            <div class="col-12 col-sm-4 instruct__step">
              {# Step #}
              <div class="instruct__step-number mb-sm-2 ml-sm-n2 mr-2 mr-sm-0">
                <img class="instruct__step-n img-fluid mr-sm-2 mb-2 mb-sm-0"
                     src="static/images/content/is{{ loop.index }}.png" alt="">
                <img class="instruct__step-a1 img-fluid d-none d-sm-inline"
                     src="static/images/content/is_arrow.svg" alt="">
                <img class="instruct__step-a2 img-fluid d-sm-none"
                     src="static/images/arrow-down.svg" alt="">
              </div>
              {# Preview #}
              <figure class="instruct__step-preview">
                <img src="static/images/content/instruct{{ loop.index }}.png"
                     alt="{{ v }}" class="w-100 img-fluid">
                <figcaption class="font-weight-light mt-2">{{ v }}</figcaption>
              </figure>
            </div>

          {% endfor %}
        </div>
        {# Instruction Video #}
        <div class="video cur-pointer mb-5" onclick="this.innerHTML = '{{ embedURL }}'">
          {# Сюда будет вставляться <iframe> #}
          <div class="video__preview"
               style="background-image: url('static/images/content/instruct_vid_preview.png')">
          </div>
          <img class="video__play position-absolute img-fluid" src="static/images/play.svg" alt="">
        </div>
        {# Youtube Link #}
        <a href="//youtube.com" class="instruct__youtube-link lead position-relative"
           target="_blank" style="max-width: 500px;">
          <img src="static/images/youtube.png" class="img-fluid mr-3" alt=""
               style="max-width: 70px; width: 17%;">
          <u>Все возможные комплексы упражнений с Древмасс на youtube-канале</u>
          <span class="bgout-gray rounded-pill" style="right: 0"></span>
        </a>
      </div>
      <div class="col-12 col-lg-5" id="js-healthEffects">
        <h3 class="text-30 font-weight-light mt-2 mb-4 pt-4 pt-lg-0 pl-4 pl-lg-0">
          Лечебные эффекты Древмасс:
        </h3>

        <div class="instruct__effects p-4 mb-5 mb-lg-0">
          <ul class="list-unstyled font-weight-light">
            {% for f in effects %}
              
              <li class="instruct__effects-item d-flex">
                <b class="text-info mr-3" style="line-height: 1; font-size: 25px;">+</b>
                <span>{{ f }}</span>
              </li>

            {% endfor %}
          </ul>

          <a href="#" class="btn text-white bg-info rounded-pill px-5 mt-3">
            <img src="static/images/finger-white.svg" alt="" class="mr-3">
            <span>Хочу купить Древмасс</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>