{% set embedURL = '<iframe width="560" height="315" src="https://www.youtube.com/embed/uR58PtUYSEc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>' %}

{% set effects = [
  "Возобновление движения и восстановление здорового, интенсивного тканевого обмена веществ",
  "Снятие спазмов с мускулатуры спины и околопозвоночныхглубоких мышц",
  "Освобождение хрящей и межпозвоночных дисков от передавливания, восстановление их объема и питания",
  "Снятие болевых рефлексов, освобождение от защемлений",
  "Профилактика остеохондроза, хронического болевого синдрома",
  "Исправление осанки и снятие проблем возникающих от сидячего образа жизни"
] %}

<section class="instruct overflow-hidden">
  <div class="container">
    {# Title #}
    <h2 class="h1 mb-5">
      Чтобы снять боль - просто ложитесь на массажер и прокатывайтесь спиной по роликам по 7 минут в день
    </h2>

    <div class="row">
      <div class="col-12 col-lg-7 pr-4">

        {% set videos = [
          "Ложитесь на массажер и делаете движения вперед назад",
          "Переставляете активный ролик и работаете со всеми отделами позвоночника",
          "Меняете углы наклона тела и усиливаете глубину воздействие на мышцы"
        ] %}

        {# Steps Previevs #}
        <div class="row mb-4" id="js-stepsPreviews">
          {% for v in videos %}
            
            <div class="col-12 col-sm-4 instruct__step">
              {# Step #}
              <div class="instruct__step-number mb-sm-2 ml-sm-n2 mr-2 mr-sm-0">
                <img class="instruct__step-n img-fluid mr-sm-2 mb-2 mb-sm-0"
                     src="static/images/content/is{{ loop.index }}.png" alt="">
                <img class="instruct__step-a1 img-fluid d-none d-sm-inline"
                     src="static/images/content/is_arrow.svg" alt="">
                <img class="instruct__step-a2 img-fluid d-sm-none"
                     src="static/images/arrow-down.svg" alt="">
              </div>
              {# Preview #}
              <div class="instruct__step-preview">
                <video class="w-100 img-fluid rounded" autoplay loop muted inline playsinline>
                  <source src="static/images/content/instr{{ loop.index }}.mp4" type="video/mp4">
                </video>
                <p class="font-weight-light m-0 mt-2">
                  <small>{{ v }}</small>
                </p>
              </div>
            </div>

          {% endfor %}
        </div>
        {# Instruction Video #}
        <div class="video cur-pointer mb-5" onclick="this.innerHTML = '{{ embedURL }}'">
          {# Сюда будет вставляться <iframe> #}
          <div class="video__preview"
               style="background-image: url('static/images/content/instruct_vid_preview.png')">
          </div>
          <img class="video__play position-absolute img-fluid" src="static/images/play.svg" alt="">
        </div>
        {# Youtube #}
        <div class="d-flex align-items-center">
          <a href="https://www.youtube.com/playlist?list=PLjdFQU_oUl1vwcZjDel6IwQirD3Aox4kP"
            class="instruct__youtube-link lead position-relative"
            target="_blank" style="max-width: 500px;"
          >
            {# <img src="static/images/youtube.png" class="img-fluid mr-3" alt=""
                style="max-width: 70px; width: 17%;"> #}
            <u>Изучите нашу авторскую методику по занятиям на Древмасс</u>
            <span class="bgout-gray rounded-pill" style="right: 0; background: #FFB800;"></span>
          </a>
          <a href="https://www.youtube.com/c/Drevmass"
            class="text-center text-secondary text-nowrap px-3"
            target="_blank" style="max-width: 500px;"
          >
            <img src="static/images/youtube.png" class="img-fluid mr-3" alt=""
                style="max-width: 70px; width: 100%;">
            <u class="d-block">наш youtube-канал</u>
          </a>
        </div>
      </div>
      <div class="col-12 col-lg-5" id="js-healthEffects">
        <h3 class="text-30 font-weight-light mt-2 mb-4 pt-4 pt-lg-0 pl-4 pl-lg-0">
          Лечебные эффекты Древмасс:
        </h3>

        <div class="instruct__effects p-4 mb-5 mb-lg-0">
          <ul class="list-unstyled font-weight-light">
            {% for f in effects %}
              
              <li class="instruct__effects-item d-flex">
                <b class="text-info mr-3" style="line-height: 1; font-size: 25px;">+</b>
                <span>{{ f }}</span>
              </li>

            {% endfor %}
          </ul>

          <a href="#" class="btn text-white bg-info rounded-pill px-5 mt-3">
            <img src="static/images/finger-white.svg" alt="" class="mr-3">
            <span>Хочу купить Древмасс</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>