{# 
 # Главный блок
 #}

 {% set watchPreview = "static/images/content/main_video-preview.png" %}

<main class="main overflow-hidden">

  <div class="container position-relative">
    {# Title #}
    <h1 class="h1">Избавьтесь от боли в спине <strong class="text-info">за 3 месяца за 7 минут*</strong> самомассажа в день на массажере Древмасс</h1>
    {# Subtitle #}
    <blockquote class="mb-5 blockquote" style="opacity: 0.5;">
      <p class="mb-0">*Вернем деньги, если боль за 3 месяца не пройдет</p>
    </blockquote>
    {# Main image #}
    <div class="main-image">
      <div class="main-image__circle main-image__circle_big"></div>
      <div class="main-image__circle main-image__circle_small"></div>
      <img src="static/images/content/main_img.png" alt="Массажер Древмасс" class="w-100 img-fluid">
    </div>
    {# Features #}
    <ul class="features list-unstyled">
      <li class="features__item">Облегчение уже после первой тренировки</li>
      <li class="features__item">Расслабление спины и возобновление питания хрящей и межпозвоночных дисков</li>
      <li class="features__item">Годовая гарантия на устройство, срок службы - 15 лет</li>
      <li class="features__item">Прошли официальную сертификацию Минздрава</li>
      <li class="features__item">Более 30000 счастливых людей, вернувшихся к полноценной жизни с 2012 года</li>
      <li class="features__item">Менее 1% возвратов</li>
    </ul>
    {# Watch Video Btn #}
    <a class="watch text-decoration-none" href="//youtube.com" target="_blank">
      <div class="watch__blick"></div>
      <div class="watch__preview" style="background-image: url('{{ watchPreview }}');">
        <div class="watch__btn">
          <img src="static/images/play.svg" alt="">
        </div>
      </div>
      <div class="watch__label">Посмотреть видео: <br>Как работает Древмасс?</div>
    </a>
  </div>

</main>