{# Modals #}

{% set video = "https://www.youtube.com/embed/in3rekq4SxI" %}

<div class="modal fade" id="mainVideoModal" tabindex="-1" aria-labelledby="mainVideoModalLabel" aria-hidden="true" data-video="{{ video }}">
  <div class="modal-dialog modal-xl modal-dialog-centered flex-wrap">
    <div class="modal-content border-0 bg-transparent">
      <button type="button" class="close w-100 bg-transparent border-0 text-white text-right py-3" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">Закрыть</span>
      </button>
      <div class="modal-body p-0 overflow-hidden">
        <div class="embed-responsive embed-responsive-16by9">
          {# <iframe class="embed-responsive-item" src="{{ video }}" allowfullscreen></iframe> #}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="callBackModal" tabindex="-1" aria-labelledby="callBackModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered flex-wrap">
    <div class="modal-content border-0 bg-transparent">
      <button type="button" class="close w-100 bg-transparent border-0 text-white text-right py-3" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">Закрыть</span>
      </button>
      <div class="modal-body overflow-hidden bg-white text-center p-4">
        <h3 class="h2">Заказать звонок</h3>
        
        <p class="lead mb-5 mx-auto" style="max-width: 400px;">Оставьте свои контактные данные, и мы свяжемся с вами в течение 5 минут для уточнения деталей заказа</p>

        <form action="">
          <input type="text" placeholder="Ваше имя" class="form-control rounded-pill text-center mb-3 lead">
          <input type="tel" placeholder="Ваш номер телефона" class="form-control rounded-pill text-center mb-3 lead" data-inputmask="'mask': '99999999999[9]'">
          <button type="submit" class="btn text-20 w-100 text-white bg-info rounded-pill px-5">
            <img src="static/images/finger-white.svg" alt="" class="mr-3">
            <span>Отправить заявку!</span>
          </button>
        </form>

        <div class="mt-4">Нажимая кнопку "Отправить заявку!" <br> даю <a href="#policyModal" data-toggle="modal">согласие на обработку персональных данных</a></div>
      </div>
    </div>
  </div>
</div>

{# Order complect 5 #}

<div class="modal fade" id="orderModelComplect5Modal" tabindex="-1" aria-labelledby="orderModelComplect5ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered flex-wrap">
    <div class="modal-content border-0 bg-transparent">
      <button type="button" class="close w-100 bg-transparent border-0 text-white text-right py-3" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">Закрыть</span>
      </button>
      <div class="modal-body overflow-hidden bg-white text-center p-0">
        <img class="img-fluid w-100" src="static/images/content/pm1.png" style="left: 0; top: 0; object-fit: contain;">

        <div class="px-4 pb-5 pt-4">
          <h3 class="h2">Заказать комплект с 5-роликовым тренажером</h3>
          
          <p class="lead mb-5">Оставьте свои контактные данные, и мы свяжемся с вами в течение 5 минут для уточнения деталей заказа</p>

          <form action="">
            <input type="text" placeholder="Ваше имя" class="form-control rounded-pill text-center mb-3 lead">
            <input type="tel" placeholder="Ваш номер телефона" class="form-control rounded-pill text-center mb-3 lead" data-inputmask="'mask': '99999999999[9]'">
            <button type="submit" class="btn text-20 w-100 text-white bg-info rounded-pill px-5">
              <img src="static/images/finger-white.svg" alt="" class="mr-3">
              <span>Заказать!</span>
            </button>
          </form>
          
          <div class="mt-4">Нажимая кнопку "Заказать!" <br> даю <a href="#policyModal" data-toggle="modal">согласие на обработку персональных данных</a></div>
        </div>
      </div>
    </div>
  </div>
</div>

{# Order complect 6 #}

<div class="modal fade" id="orderModelComplect6Modal" tabindex="-1" aria-labelledby="orderModelComplect6ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered flex-wrap">
    <div class="modal-content border-0 bg-transparent">
      <button type="button" class="close w-100 bg-transparent border-0 text-white text-right py-3" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">Закрыть</span>
      </button>
      <div class="modal-body overflow-hidden bg-white text-center p-0">
        <img class="img-fluid w-100" src="static/images/content/pm2.png" style="left: 0; top: 0; object-fit: contain;">

        <div class="px-4 pb-5 pt-4">
          <h3 class="h2">Заказать комплект с 6-роликовым тренажером</h3>
          
          <p class="lead mb-5">Оставьте свои контактные данные, и мы свяжемся с вами в течение 5 минут для уточнения деталей заказа</p>

          <form action="">
            <input type="text" placeholder="Ваше имя" class="form-control rounded-pill text-center mb-3 lead">
            <input type="tel" placeholder="Ваш номер телефона" class="form-control rounded-pill text-center mb-3 lead" data-inputmask="'mask': '99999999999[9]'">
            <button type="submit" class="btn text-20 w-100 text-white bg-info rounded-pill px-5">
              <img src="static/images/finger-white.svg" alt="" class="mr-3">
              <span>Заказать!</span>
            </button>
          </form>

          <div class="mt-4">Нажимая кнопку "Заказать!" <br> даю <a href="#policyModal" data-toggle="modal">согласие на обработку персональных данных</a></div>
        </div>
      </div>
    </div>
  </div>
</div>

{# Order complect 7 #}

<div class="modal fade" id="orderModelComplect7Modal" tabindex="-1" aria-labelledby="orderModelComplect7ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered flex-wrap">
    <div class="modal-content border-0 bg-transparent">
      <button type="button" class="close w-100 bg-transparent border-0 text-white text-right py-3" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">Закрыть</span>
      </button>
      <div class="modal-body overflow-hidden bg-white text-center p-0">
        <img class="img-fluid w-100" src="static/images/content/pm3.png" style="left: 0; top: 0; object-fit: contain;">

        <div class="px-4 pb-5 pt-4">
          <h3 class="h2">Заказать комплект с 7-роликовым тренажером</h3>
          
          <p class="lead mb-5">Оставьте свои контактные данные, и мы свяжемся с вами в течение 5 минут для уточнения деталей заказа</p>

          <form action="">
            <input type="text" placeholder="Ваше имя" class="form-control rounded-pill text-center mb-3 lead">
            <input type="tel" placeholder="Ваш номер телефона" class="form-control rounded-pill text-center mb-3 lead" data-inputmask="'mask': '99999999999[9]'">
            <button type="submit" class="btn text-20 w-100 text-white bg-info rounded-pill px-5">
              <img src="static/images/finger-white.svg" alt="" class="mr-3">
              <span>Заказать!</span>
            </button>
          </form>

          <div class="mt-4">Нажимая кнопку "Заказать!" <br> даю <a href="#policyModal" data-toggle="modal">согласие на обработку персональных данных</a></div>
        </div>
      </div>
    </div>
  </div>
</div>

{# Order 5 #}

<div class="modal fade" id="orderModel5Modal" tabindex="-1" aria-labelledby="orderModel5ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered flex-wrap">
    <div class="modal-content border-0 bg-transparent">
      <button type="button" class="close w-100 bg-transparent border-0 text-white text-right py-3" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">Закрыть</span>
      </button>
      <div class="modal-body overflow-hidden bg-white text-center p-0">
        <img class="img-fluid w-100" src="static/images/content/pm1.png" style="left: 0; top: 0; object-fit: contain;">

        <div class="px-4 pb-5 pt-4">
          <h3 class="h2">Заказать 5-роликовый массажер</h3>
          
          <p class="lead mb-5">Оставьте свои контактные данные, и мы свяжемся с вами в течение 5 минут для уточнения деталей заказа</p>

          <form action="">
            <input type="text" placeholder="Ваше имя" class="form-control rounded-pill text-center mb-3 lead">
            <input type="tel" placeholder="Ваш номер телефона" class="form-control rounded-pill text-center mb-3 lead" data-inputmask="'mask': '99999999999[9]'">
            <button type="submit" class="btn text-20 w-100 text-white bg-info rounded-pill px-5">
              <img src="static/images/finger-white.svg" alt="" class="mr-3">
              <span>Заказать!</span>
            </button>
          </form>

          <div class="mt-4">Нажимая кнопку "Заказать!" <br> даю <a href="#policyModal" data-toggle="modal">согласие на обработку персональных данных</a></div>
        </div>
      </div>
    </div>
  </div>
</div>

{# Order 6 #}

<div class="modal fade" id="orderModel6Modal" tabindex="-1" aria-labelledby="orderModel6ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered flex-wrap">
    <div class="modal-content border-0 bg-transparent">
      <button type="button" class="close w-100 bg-transparent border-0 text-white text-right py-3" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">Закрыть</span>
      </button>
      <div class="modal-body overflow-hidden bg-white text-center p-0">
        <img class="img-fluid w-100" src="static/images/content/pm2.png" style="left: 0; top: 0; object-fit: contain;">

        <div class="px-4 pb-5 pt-4">
          <h3 class="h2">Заказать 6-роликовый массажер</h3>
          
          <p class="lead mb-5">Оставьте свои контактные данные, и мы свяжемся с вами в течение 5 минут для уточнения деталей заказа</p>

          <form action="">
            <input type="text" placeholder="Ваше имя" class="form-control rounded-pill text-center mb-3 lead">
            <input type="tel" placeholder="Ваш номер телефона" class="form-control rounded-pill text-center mb-3 lead" data-inputmask="'mask': '99999999999[9]'">
            <button type="submit" class="btn text-20 w-100 text-white bg-info rounded-pill px-5">
              <img src="static/images/finger-white.svg" alt="" class="mr-3">
              <span>Заказать!</span>
            </button>
          </form>

          <div class="mt-4">Нажимая кнопку "Заказать!" <br> даю <a href="#policyModal" data-toggle="modal">согласие на обработку персональных данных</a></div>
        </div>
      </div>
    </div>
  </div>
</div>

{# Order 7 #}

<div class="modal fade" id="orderModel7Modal" tabindex="-1" aria-labelledby="orderModel7ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered flex-wrap">
    <div class="modal-content border-0 bg-transparent">
      <button type="button" class="close w-100 bg-transparent border-0 text-white text-right py-3" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">Закрыть</span>
      </button>
      <div class="modal-body overflow-hidden bg-white text-center p-0">
        <img class="img-fluid w-100" src="static/images/content/pm3.png" style="left: 0; top: 0; object-fit: contain;">

        <div class="px-4 pb-5 pt-4">
          <h3 class="h2">Заказать 7-роликовый массажер</h3>
          
          <p class="lead mb-5">Оставьте свои контактные данные, и мы свяжемся с вами в течение 5 минут для уточнения деталей заказа</p>

          <form action="">
            <input type="text" placeholder="Ваше имя" class="form-control rounded-pill text-center mb-3 lead">
            <input type="tel" placeholder="Ваш номер телефона" class="form-control rounded-pill text-center mb-3 lead" data-inputmask="'mask': '99999999999[9]'">
            <button type="submit" class="btn text-20 w-100 text-white bg-info rounded-pill px-5">
              <img src="static/images/finger-white.svg" alt="" class="mr-3">
              <span>Заказать!</span>
            </button>
          </form>

          <div class="mt-4">Нажимая кнопку "Заказать!" <br> даю <a href="#policyModal" data-toggle="modal">согласие на обработку персональных данных</a></div>
        </div>
      </div>
    </div>
  </div>
</div>

{# Order Rolll #}

<div class="modal fade" id="dop1Modal" tabindex="-1" aria-labelledby="dop1ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered flex-wrap">
    <div class="modal-content border-0 bg-transparent">
      <button type="button" class="close w-100 bg-transparent border-0 text-white text-right py-3" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">Закрыть</span>
      </button>
      <div class="modal-body overflow-hidden bg-white text-center p-0">
        <img class="img-fluid w-100" src="static/images/content/d2.png" style="left: 0; top: 0; object-fit: contain;">

        <div class="px-4 pb-5 pt-4">
          <h3 class="h2">Заказать ролик с шипами Древмасс</h3>
          
          <p class="lead mb-5">Оставьте свои контактные данные, и мы свяжемся с вами в течение 5 минут для уточнения деталей заказа</p>

          <form action="">
            <input type="text" placeholder="Ваше имя" class="form-control rounded-pill text-center mb-3 lead">
            <input type="tel" placeholder="Ваш номер телефона" class="form-control rounded-pill text-center mb-3 lead" data-inputmask="'mask': '99999999999[9]'">
            <button type="submit" class="btn text-20 w-100 text-white bg-info rounded-pill px-5">
              <img src="static/images/finger-white.svg" alt="" class="mr-3">
              <span>Заказать!</span>
            </button>
          </form>

          <div class="mt-4">Нажимая кнопку "Заказать!" <br> даю <a href="#policyModal" data-toggle="modal">согласие на обработку персональных данных</a></div>
        </div>
      </div>
    </div>
  </div>
</div>

{# Order porfilact ROlll #}

<div class="modal fade" id="dop2Modal" tabindex="-1" aria-labelledby="dop2ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered flex-wrap">
    <div class="modal-content border-0 bg-transparent">
      <button type="button" class="close w-100 bg-transparent border-0 text-white text-right py-3" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">Закрыть</span>
      </button>
      <div class="modal-body overflow-hidden bg-white text-center p-0">
        <img class="img-fluid w-100" src="static/images/content/d3.png" style="left: 0; top: 0; object-fit: contain;">

        <div class="px-4 pb-5 pt-4">
          <h3 class="h2">Заказать ролик для профилактики и лечения сколиоза</h3>
          
          <p class="lead mb-5">Оставьте свои контактные данные, и мы свяжемся с вами в течение 5 минут для уточнения деталей заказа</p>

          <form action="">
            <input type="text" placeholder="Ваше имя" class="form-control rounded-pill text-center mb-3 lead">
            <input type="tel" placeholder="Ваш номер телефона" class="form-control rounded-pill text-center mb-3 lead" data-inputmask="'mask': '99999999999[9]'">
            <button type="submit" class="btn text-20 w-100 text-white bg-info rounded-pill px-5">
              <img src="static/images/finger-white.svg" alt="" class="mr-3">
              <span>Заказать!</span>
            </button>
          </form>

          <div class="mt-4">Нажимая кнопку "Заказать!" <br> даю <a href="#policyModal" data-toggle="modal">согласие на обработку персональных данных</a></div>
        </div>
      </div>
    </div>
  </div>
</div>

{# Policy #}

<div class="modal fade" id="policyModal" tabindex="-1" aria-labelledby="policyModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl flex-wrap">
    <div class="modal-content border-0 bg-transparent">
      <button type="button" class="close w-100 bg-transparent border-0 text-white text-right py-3" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">Закрыть</span>
      </button>
      <div class="modal-body overflow-hidden bg-white">
        {% include "blocks/_policy.njk" %}
      </div>
    </div>
  </div>
</div>