{# 
 # Parts
 #}

{% set parts = [
  {
    name: "Ролик с шипами",
    descr: "Для более глубокого и интенсивного массажа",
    arrows: ['pa1']
  },
  {
    name: "Рама",
    descr: "Удерживающий элемент-основа",
    arrows: ['pa2']
  },
  {
    name: "Асимметричный ролик",
    descr: "Для исправления и профилактики сколиоза",
    arrows: ['pa3']
  },
  {
    name: "Вспомогательные ролики",
    descr: "Необходимы для стабилизации и облегчения упражнений",
    arrows: ['pa4']
  },
  {
    name: "Основной ролик",
    descr: "Оказывает точечное воздействие на целевую область спины",
    arrows: ['pa5']
  }
] %}

<section class="parts">

  <div class="container position-relative">
    {# Title #}
    <h2 class="h1 text-center">Массажер-тренажер Древмасс совмещает положительные стороны всех способов и позволяет добиться результата за 7 минут в день</h2>
    {# Preview #}
    <div class="parts__preview">
      <div class="parts__preview-circle"></div>
      <img src="static/images/content/parts_preview.png" alt="" class="w-100 img-fluid">
    </div>
    {# Parts #}
    {% for p in parts %}
      <dl class="part part_{{ loop.index }}">
        <dt class="part__name">{{ p.name }}</dt>
        <dd class="part__desc">{{ p.descr }}</dd>
        {% for arrow in p.arrows %}
            <img class="arrow" src="static/images/content/{{ arrow }}.svg" alt="">
        {% endfor %}
      </dl>
    {% endfor %}
  </div>

</section>

{% set boxItems = [
  {
    img: "bi1",
    name: "Фиксатор для <br> удобного хранения",
    descr: "Дополнительная <br>  проработка бедер, <br> ягодиц и ступней"
  },
  {
    img: "bi2",
    name: "Суджок-массажер <br> для рук",
    descr: "Позволяет усилить воздействие при занятиях <br> на тренажере"
  },
  {
    img: "bi3",
    name: "Инструкция и <br> записи уроков",
    descr: "Полный комплект поможет получить максимум оздоровительного эффекта"
  },
  {
    img: "bi4",
    name: "Комплект для ухода <br> за массажером",
    descr: "Для постепенного выправления сколиоза"
  }
] %}

<section>
  <div class="container">
    {# Title #}
    <h2 class="h1 text-center mb-5">Что также входит в коробку?</h2>
    {# Box Items #}
    <div class="row text-center">

      {% for i in boxItems %}
        
        <div class="col-12 col-lg-3">
          <img class="w-75 img-fluid mb-3" src="static/images/content/{{ i.img }}.png" alt="{{ i.name }}">
          <h3 class="text-20">{{ i.name | safe }}</h3>
          <p class="font-weight-light mx-auto" style="max-width: 220px">{{ i.descr | safe  }}</p>
        </div>
      
      {% endfor %}
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="bg-info rounded-sm p-4">
      <div class="row">
        <div class="col-12 col-lg-4">
          <ul class="list-unstyled font-weight-bold text-white">
            <li class="d-flex mb-4">
              <div class="text-20 mr-3" style="line-height: 1">+</div>
              <div>Упражнения на Древмассе снимают мышечные зажимы, глубоко прорабатывают околопозвоночные мышцы, вытягивают позвоночник и улучшают питание тканей</div>
            </li>
            <li class="d-flex">
              <div class="text-20 mr-3" style="line-height: 1">+</div>
              <div>Заниматься можно сколько угодно в течение 15 лет (и это бесплатно)</div>
            </li>
          </ul>
        </div>
        <div class="col-12 col-lg-5">
          <ul class="list-unstyled font-weight-bold text-white">
            <li class="d-flex mb-4">
              <div class="text-20 mr-3" style="line-height: 1">+</div>
              <div>Упражнения можно выполнять правильно самостоятельно по видеоинструкции</div>
            </li>
            <li class="d-flex mb-4">
              <div class="text-20 mr-3" style="line-height: 1">+</div>
              <div>Заметное облегчение и улучшение самочувствие с первой тренировки</div>
            </li>
            <li class="d-flex">
              <div class="text-20 mr-3" style="line-height: 1">+</div>
              <div>Достаточно только тренировок на массажере для решения проблемы со спиной*</div>
            </li>
          </ul>
        </div>
        <div class="col-12 col-lg-3">
          <div class="px-3 py-4 bg-white opacity-7 rounded">
            *Мы не рассматриваем тяжелые патологии позвоночника, к которым требуется комплексный профессиональный подход
          </div>
        </div>
      </div>
    </div>
  </div>  
</section>
