{# 
 # Главный блок
 #}

<section class="restrict">
  
  <div class="container">
    {# Title #}
    <h2 class="h1 mb-3 text-center">Боль в спине - <strong class="text-warning">ограничитель вашей жизни</strong></h2>
    {# Description #}
    <p class="text-center lead mx-auto" style="max-width: 902px">У нас принято терпеть и не решать проблему боли в спине. Постенно боль усугубляется, и человек начинает выстраивать свою активность и быт вокруг нее. К чему это приводит:</p>
    {# Results #}
    <div>...</div>
    {# Quote #}
    <blockquote class="warning mx-auto" style="max-width: 800px">
      <img src="static/images/warning.svg" alt="" class="mr-3">
      <p class="mb-0">Не попасть в этот порочный круг (либо выбраться из него) возможно, только решая причины возникновения боли</p>
    </blockquote>
  </div>

</section>