<section class="reviews overflow-hidden">
  <div class="container mb-4">
    <div class="row align-items-center">
      <div class="col-12 col-lg-5">
        {# Title #}
        <h2 class="h1 mb-3 mb-lg-0">Отзывы о Древмасс</h2>
      </div>
      <div class="col-12 col-lg-7">
        <div class="d-flex align-items-center position-relative px-4 py-3">
          <div class="bgout-info rounded-pill" style="left: 0; opacity: 0.4;"></div>
          <div class="d-flex">
            <button class="border-0 bg-transparent p-0 rounded-circle shadow-lg mr-3" title="Предыдущий слайд" onclick="$('.js-reviews-slider').slick('prev')">
              <img src="static/images/arrow-left.svg" alt="">
              <span hidden>Предыдущий слайд</span>
            </button>
            <button class="border-0 bg-transparent p-0 rounded-circle shadow-lg mr-4" style="transform: rotate(180deg)" title="Следующий слайд" onclick="$('.js-reviews-slider').slick('next')">
              <img src="static/images/arrow-left.svg" alt="">
              <span hidden>Следующий слайд</span>
            </button>
          </div>
          <p class="m-0 font-weight-light" style="max-width: 490px">За 9 лет работы мы помогли более 20000 человек значительно улучшить свою жизнь, избавив их от боли в спине</p>
        </div>
      </div>
    </div>
  </div>

  <div class="p-container pr-0 pt-3">
    <div class="js-reviews-slider">
      {% for i in range(20) %}
        <div class="px-1">
          <a href="static/images/content/r{{ [1,2] | random }}_b.png" class="js-review-img">
            <img data-lazy="static/images/content/r{{ [1,2] | random }}.png"
                 src="static/images/content/review-preview.png"
                 alt="Отзыв" class="w-100 img-fluid">
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>