<section class="reviews">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-5">
        {# Title #}
        <h2 class="h1 m-0">Отзывы о Древмасс</h2>
      </div>
      <div class="col-12 col-lg-7">
        <div class="d-flex align-items-center position-relative px-4 py-3">
          <div class="bgout-info rounded-pill" style="left: 0; opacity: 0.4;"></div>
          <button class="border-0 bg-transparent p-0 rounded-circle shadow-lg mr-3" title="Предыдущий слайд">
            <img src="static/images/arrow-left.svg" alt="">
            <span hidden>Предыдущий слайд</span>
          </button>
          <button class="border-0 bg-transparent p-0 rounded-circle shadow-lg mr-4" style="transform: rotate(180deg)" title="Следующий слайд">
            <img src="static/images/arrow-left.svg" alt="">
            <span hidden>Следующий слайд</span>
          </button>
          <p class="m-0 font-weight-light" style="max-width: 490px">За 9 лет работы мы помогли более 20000 человек значительно улучшить свою жизнь, избавив их от боли в спине</p>
        </div>
      </div>
    </div>
  </div>
</section>