<section class="serts">
  <div class="container position-relative">
    <div class="serts__img">
      <div class="serts__img-circle"></div>
      <img src="static/images/content/sert.png" alt="Фото сертификата" class="w-100 img-fluid">
    </div>
    {# Title #}
    <h2 class="h2 serts__title" style="max-width: 590px">
      Древмасс - единственный деревянный тренажер-массажер, прошедший <strong class="text-info">официальную сертификацию Минздрава</strong>
    </h2>
    {# Text #}
    <p class="serts__text" style="max-width: 420px">Устройство “Древмасс” входит в реестр медицинских изделий Российской Федерации.</p>
    <p class="serts__text" style="max-width: 420px">Регистрационное удостоверение Министерства здравоохранения РФ</p>
    {# Links #}
    <a href="https://savchenko.dev" target="_blank" class="d-block mb-3 text-secondary text-underline">
      <img src="static/images/pdf.svg" alt="pdf" class="img-fluid align-middle"><span class="align-middle ml-3">Патент на Древмасс (5.2 Mb)</span>
    </a>
    <a href="https://savchenko.dev" target="_blank" class="d-block mb-3 text-secondary text-underline">
      <img src="static/images/pdf.svg" alt="pdf" class="img-fluid align-middle"><span class="align-middle ml-3">Сертификат изготовителя (5.2 Mb)</span>
    </a>
  </div>
</section>