<section class="serts">
  <div class="container position-relative">
    <div class="serts__img">
      <div class="serts__img-circle"></div>
      <img src="static/images/content/sert.png" alt="Фото сертификата" class="w-100 img-fluid">
    </div>
    {# Title #}
    <h2 class="h2 serts__title">
      Древмасс - единственный деревянный тренажер-массажер, прошедший <strong class="text-info">официальную сертификацию Минздрава</strong>
    </h2>
    {# Text #}
    <p class="serts__text" style="max-width: 420px">
      Устройство “Древмасс” входит в реестр медицинских изделий Российской Федерации.
    </p>
    <p class="serts__text" style="max-width: 420px">
      Регистрационное удостоверение Министерства здравоохранения РФ №РНЗ 2018/7607.
    </p>
    {# Links #}
    <a href="static/images/content/patent.jpg" target="_blank"
       class="d-block mb-3 text-secondary"
    >
      <img src="static/images/pdf.svg" alt="pdf" class="img-fluid align-middle">
      <span class="align-middle ml-3 text-underline">Патент на Древмасс (5.2 Mb)</span>
    </a>
    <a href="static/images/content/sertificate.jpg" target="_blank"
       class="d-block mb-3 text-secondary"
    >
      <img src="static/images/pdf.svg" alt="pdf" class="img-fluid align-middle">
      <span class="align-middle ml-3 text-underline">Сертификат изготовителя (5.2 Mb)</span>
    </a>
  </div>
</section>