// Colors

$cyan:   #00b5af;
$yellow:  #FFB800;
$gray:    #393939;

$dark:  #000000;

// TODO: Это maybe нужно убрать

$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 960px,
  xl: 1140px
);

$headings-font-weight: 700;

.superrem {
  border-radius: rem(20px);
}

$border-radius: rem(10px);
$border-radius-lg: rem(20px);
$border-radius-sm: rem(5px);
