// Colors

$green:   #00b5af;
$yellow:  #FFB800;

$dark:  #000000;
$primary: $green;

// TODO: Это maybe нужно убрать

$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 960px,
  xl: 1140px
);

$headings-font-weight: 700;

.superrem {
  border-radius: rem(20px);
}

$border-radius: rem(10px);
$border-radius-lg: rem(20px);
$border-radius-sm: rem(6px);
