.parts {

  &__preview {
    width: 705px;
    margin: 0 auto;
    position: relative;
    padding: 9% 0;

    &-circle {
      position: absolute;
      width: 80%;

      background: $white;
      box-shadow: 0px 11px 33px rgba(0, 0, 0, 0.11);
      border-radius: 50%;
      z-index: -1;

      left: 54%;
      top: 53%;

      transform: translate(-50%, -50%);
      
      &::after {
        content: '';
        display: block;
        padding-top: 100%;
      }
    }
  }
}

.part {
  position: absolute;
  left: 50%;
  top: 50%;
  display: inline-flex;
  align-items: center;

  &::after {
    content: '';
    display: inline;
    position: absolute;
  }

  &__img {
    width: 150px;
    height: 150px;
  }

  &__name {
    font-size: 20px;
  }

  &__desc {
    font-weight: 300;
  }

  &_1 {
    text-align: right;
    transform: translate(-548px, 9px);
    width: 170px;

    &::after {
      top: 0;
      left: 106%;
      content: url("data:image/svg+xml,%3Csvg width='86' height='14' viewBox='0 0 86 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.2' d='M85.1798 12.1714L79.8345 5.35759L76.6062 13.3937L85.1798 12.1714ZM1.03259 5.69434C1.25724 6.4099 1.25713 6.40994 1.25716 6.40993C1.25735 6.40987 1.25752 6.40981 1.25791 6.40969C1.25869 6.40945 1.26001 6.40904 1.26189 6.40845C1.26565 6.40728 1.27161 6.40543 1.27976 6.40293C1.29607 6.39791 1.32112 6.39025 1.3548 6.38009C1.42218 6.35977 1.52408 6.32946 1.65956 6.29032C1.93051 6.21205 2.33575 6.09848 2.86764 5.95892C3.93146 5.67979 5.50168 5.29677 7.51727 4.88436C11.5488 4.05945 17.36 3.11737 24.4629 2.65327C38.6709 1.72493 58.0297 2.71019 78.6498 10.3561L79.1713 8.94966C58.3044 1.21224 38.7243 0.218245 24.3651 1.15646C17.1843 1.62564 11.3048 2.57829 7.21658 3.4148C5.17228 3.83309 3.57533 4.22246 2.48695 4.50803C1.94275 4.65082 1.52563 4.76768 1.24326 4.84925C1.10208 4.89003 0.99457 4.922 0.9217 4.94398C0.885264 4.95496 0.857488 4.96345 0.838489 4.9693C0.82899 4.97223 0.821685 4.97449 0.816589 4.97607C0.814041 4.97687 0.812046 4.97749 0.810604 4.97794C0.809884 4.97816 0.809219 4.97837 0.808858 4.97848C0.808332 4.97865 0.807945 4.97877 1.03259 5.69434Z' fill='black'/%3E%3C/svg%3E%0A");
    }
  }

  &_2 {
    transform: translate(150px, -180px);
    width: 130px;

    &::after {
      top: -5px;
      right: 110%;
      content: url("data:image/svg+xml,%3Csvg width='127' height='106' viewBox='0 0 127 106' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.2' d='M0.837779 84.9926L3.08135 76.628L9.20351 82.7533L0.837779 84.9926ZM126.446 21.3193C126.512 22.0664 126.512 22.0664 126.512 22.0664C126.511 22.0665 126.511 22.0665 126.51 22.0666C126.508 22.0667 126.506 22.067 126.502 22.0673C126.495 22.068 126.483 22.069 126.468 22.0705C126.438 22.0733 126.391 22.0778 126.329 22.084C126.206 22.0963 126.02 22.1156 125.775 22.1431C125.284 22.1981 124.555 22.2859 123.605 22.4166C121.706 22.678 118.928 23.1109 115.421 23.796C108.406 25.1663 98.4766 27.5453 86.8376 31.5781C63.5573 39.6444 33.4524 54.3211 6.13217 80.7612L5.08902 79.6833C32.6055 53.0532 62.9183 38.2784 86.3465 30.1608C98.0616 26.1016 108.06 23.7056 115.133 22.3238C118.67 21.6329 121.476 21.1955 123.401 20.9306C124.363 20.7982 125.105 20.7088 125.608 20.6525C125.859 20.6243 126.051 20.6044 126.18 20.5914C126.245 20.5849 126.294 20.5802 126.328 20.5771C126.344 20.5755 126.357 20.5743 126.366 20.5735C126.37 20.5731 126.373 20.5728 126.376 20.5726C126.377 20.5725 126.378 20.5724 126.379 20.5724C126.379 20.5723 126.38 20.5722 126.446 21.3193Z' fill='black'/%3E%3C/svg%3E%0A");
    }
  }

  &_3 {
    transform: translate(-589px, 200px);
    width: 200px;
    text-align: right;

    &::after {
      top: -38px;
      left: 104%;
      content: url("data:image/svg+xml,%3Csvg width='141' height='121' viewBox='0 0 141 121' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.2' d='M137 75L128.641 72.7344L134.783 66.6284L137 75ZM0.817627 51.7007C0.57087 50.9924 0.571424 50.9922 0.572288 50.9919C0.57299 50.9917 0.574164 50.9913 0.575565 50.9908C0.578368 50.9898 0.582407 50.9884 0.587674 50.9866C0.598209 50.983 0.613659 50.9777 0.633972 50.9707C0.674596 50.9568 0.734668 50.9364 0.813759 50.9098C0.97194 50.8567 1.2062 50.7791 1.5131 50.6801C2.12689 50.4821 3.03131 50.1986 4.19883 49.855C6.53377 49.1678 9.92169 48.2398 14.1425 47.2737C22.5824 45.3417 34.3609 43.2553 47.7146 42.6389C74.4037 41.4069 107.503 46.044 132.759 69.6714L131.734 70.7667C106.902 47.536 74.2873 42.9139 47.7838 44.1373C34.5412 44.7485 22.8539 46.8184 14.4772 48.7358C10.2896 49.6944 6.9314 50.6144 4.62234 51.294C3.46786 51.6337 2.57579 51.9134 1.97361 52.1076C1.67252 52.2048 1.44392 52.2805 1.29123 52.3318C1.21489 52.3574 1.15753 52.3769 1.11958 52.3899C1.1006 52.3964 1.08648 52.4013 1.07726 52.4045C1.07265 52.4061 1.06927 52.4072 1.06712 52.408C1.06605 52.4084 1.06536 52.4086 1.06483 52.4088C1.06445 52.4089 1.06438 52.4089 0.817627 51.7007Z' fill='black'/%3E%3C/svg%3E%0A");
    }
  }

  &_4 {
    transform: translate(360px, 20px);
    width: 225px;

    &::after {
      top: -56px;
      right: 104%;
      content: url("data:image/svg+xml,%3Csvg width='170' height='146' viewBox='0 0 170 146' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.2' d='M3.91023 88.2579L12.3077 86.1405L6.27523 79.9269L3.91023 88.2579ZM169.015 62.9971C169.183 62.2662 169.183 62.2661 169.182 62.2658C169.181 62.2656 169.179 62.2653 169.177 62.2649C169.174 62.2641 169.169 62.2629 169.162 62.2613C169.148 62.2582 169.128 62.2536 169.101 62.2475C169.048 62.2354 168.968 62.2176 168.863 62.1943C168.654 62.1478 168.343 62.0797 167.935 61.993C167.121 61.8195 165.922 61.5714 164.378 61.2721C161.29 60.6736 156.825 59.8701 151.307 59.0492C140.272 57.4075 125.021 55.6945 108.157 55.4114C74.479 54.8459 34.1581 59.977 8.24972 83.0007L9.24613 84.122C34.7049 61.4978 74.5174 56.3468 108.131 56.9112C124.913 57.1929 140.097 58.8979 151.086 60.5328C156.58 61.3502 161.024 62.1498 164.092 62.7447C165.627 63.0421 166.817 63.2884 167.623 63.4601C168.026 63.5459 168.333 63.6131 168.538 63.6587C168.641 63.6815 168.719 63.6989 168.77 63.7106C168.796 63.7164 168.815 63.7208 168.828 63.7237C168.834 63.7252 168.839 63.7263 168.842 63.727C168.844 63.7273 168.845 63.7276 168.846 63.7277C168.846 63.7279 168.846 63.7279 169.015 62.9971Z' fill='black'/%3E%3C/svg%3E%0A");
    }
  }

  &_5 {
    transform: translate(300px, -95px);
    width: 240px;

    &::after {
      top: -50px;
      right: 104%;
      content: url("data:image/svg+xml,%3Csvg width='202' height='173' viewBox='0 0 202 173' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.2' d='M3.47808 103.75L11.9219 101.826L6.0335 95.4757L3.47808 103.75ZM199.807 72.0443C190.394 81.4576 176.719 85.5413 160.627 86.8892C144.539 88.2368 126.171 86.841 107.47 85.4129C88.7994 83.987 69.8033 82.5298 52.5655 83.7913C35.3286 85.0528 19.7443 89.038 7.95174 98.5817L8.89539 99.7477C20.3434 90.4828 35.5695 86.5392 52.675 85.2873C69.7796 84.0355 88.6581 85.4806 107.356 86.9085C126.025 88.3342 144.521 89.7436 160.753 88.384C176.982 87.0245 191.084 82.8883 200.867 73.105L199.807 72.0443Z' fill='black'/%3E%3C/svg%3E%0A");
    }
  }
}

@mixin parts--lg() {
  .parts__preview {
    width: 500px;
  }

  .part {
  
    &_1 {
      text-align: right;
      transform: translate(-478px, 22px);
      width: 170px;
    }
  
    &_2 {
      transform: translate(100px, -170px);
      width: 130px;

      &::after {
        top: 0;
        right: 93%;
        transform: skew(36deg, 353deg);
      }
    }
  
    &_3 {
      transform: translate(-469px, 152px);
      width: 200px;
      text-align: right;
  
      &::after {
        top: -40px;
        left: 90%;
        transform: scaleX(0.6);
      }
    }
  
    &_4 {
      transform: translate(260px, 20px);
      width: 225px;
  
      &::after {
        transform: scaleX(0.7);
        right: 93%;
      }
    }
  
    &_5 {
      transform: translate(230px, -95px);
      width: 235px1;
  
      &::after {
        transform: scaleX(0.8);
        right: 95%;
      }
    }
  }
}

@mixin parts--md() {
  .parts {

    &__preview {
      display: none;
    }

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .part {
    position: static;
    transform: none;
    text-align: left;
    width: 45%;
    margin-right: 5%;

    &::after {
      display: none;
    }
  }
}

@mixin parts--sm() {
  .part {
    width: 95%;
    margin-bottom: 1rem;
  }
}

@mixin parts--xs() {
  .part {
    &__img {
      width: 100px;
      height: 100px;
    }
  }
}
