.parts {

  &__preview {
    width: 705px;
    margin: 0 auto;
    position: relative;
    padding: 9% 0;

    &-circle {
      position: absolute;
      width: 80%;

      background: $white;
      box-shadow: 0px 11px 33px rgba(0, 0, 0, 0.11);
      border-radius: 50%;
      z-index: -1;

      left: 54%;
      top: 53%;

      transform: translate(-50%, -50%);
      
      &::after {
        content: '';
        display: block;
        padding-top: 100%;
      }
    }
  }
}

.part {
  position: absolute;
  left: 50%;
  top: 50%;
  display: inline-flex;
  align-items: center;

  &::after {
    content: '';
    display: inline;
    position: absolute;
  }

  &__img {
    width: 150px;
    height: 150px;
  }

  &__name {
    font-size: 20px;
  }

  &__desc {
    font-weight: 300;
  }

  &_1 {
    text-align: right;
    transform: translate(-548px, 9px);
    width: 170px;

    &::after {
      top: 0;
      left: 106%;
      content: url("data:image/svg+xml,%3Csvg width='86' height='14' viewBox='0 0 86 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.2' d='M85.1798 12.1714L79.8345 5.35759L76.6062 13.3937L85.1798 12.1714ZM1.03259 5.69434C1.25724 6.4099 1.25713 6.40994 1.25716 6.40993C1.25735 6.40987 1.25752 6.40981 1.25791 6.40969C1.25869 6.40945 1.26001 6.40904 1.26189 6.40845C1.26565 6.40728 1.27161 6.40543 1.27976 6.40293C1.29607 6.39791 1.32112 6.39025 1.3548 6.38009C1.42218 6.35977 1.52408 6.32946 1.65956 6.29032C1.93051 6.21205 2.33575 6.09848 2.86764 5.95892C3.93146 5.67979 5.50168 5.29677 7.51727 4.88436C11.5488 4.05945 17.36 3.11737 24.4629 2.65327C38.6709 1.72493 58.0297 2.71019 78.6498 10.3561L79.1713 8.94966C58.3044 1.21224 38.7243 0.218245 24.3651 1.15646C17.1843 1.62564 11.3048 2.57829 7.21658 3.4148C5.17228 3.83309 3.57533 4.22246 2.48695 4.50803C1.94275 4.65082 1.52563 4.76768 1.24326 4.84925C1.10208 4.89003 0.99457 4.922 0.9217 4.94398C0.885264 4.95496 0.857488 4.96345 0.838489 4.9693C0.82899 4.97223 0.821685 4.97449 0.816589 4.97607C0.814041 4.97687 0.812046 4.97749 0.810604 4.97794C0.809884 4.97816 0.809219 4.97837 0.808858 4.97848C0.808332 4.97865 0.807945 4.97877 1.03259 5.69434Z' fill='black'/%3E%3C/svg%3E%0A");
    }
  }

  &_2 {
    transform: translate(150px, -180px);
    width: 130px;

    &::after {
      top: -5px;
      right: 110%;
      content: url("data:image/svg+xml,%3Csvg width='127' height='106' viewBox='0 0 127 106' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.2' d='M0.837779 84.9926L3.08135 76.628L9.20351 82.7533L0.837779 84.9926ZM126.446 21.3193C126.512 22.0664 126.512 22.0664 126.512 22.0664C126.511 22.0665 126.511 22.0665 126.51 22.0666C126.508 22.0667 126.506 22.067 126.502 22.0673C126.495 22.068 126.483 22.069 126.468 22.0705C126.438 22.0733 126.391 22.0778 126.329 22.084C126.206 22.0963 126.02 22.1156 125.775 22.1431C125.284 22.1981 124.555 22.2859 123.605 22.4166C121.706 22.678 118.928 23.1109 115.421 23.796C108.406 25.1663 98.4766 27.5453 86.8376 31.5781C63.5573 39.6444 33.4524 54.3211 6.13217 80.7612L5.08902 79.6833C32.6055 53.0532 62.9183 38.2784 86.3465 30.1608C98.0616 26.1016 108.06 23.7056 115.133 22.3238C118.67 21.6329 121.476 21.1955 123.401 20.9306C124.363 20.7982 125.105 20.7088 125.608 20.6525C125.859 20.6243 126.051 20.6044 126.18 20.5914C126.245 20.5849 126.294 20.5802 126.328 20.5771C126.344 20.5755 126.357 20.5743 126.366 20.5735C126.37 20.5731 126.373 20.5728 126.376 20.5726C126.377 20.5725 126.378 20.5724 126.379 20.5724C126.379 20.5723 126.38 20.5722 126.446 21.3193Z' fill='black'/%3E%3C/svg%3E%0A");
    }
  }

  &_3 {
    transform: translate(-589px, 200px);
    width: 200px;
    text-align: right;

    &::after {
      top: -38px;
      left: 104%;
      content: url("data:image/svg+xml,%3Csvg width='141' height='121' viewBox='0 0 141 121' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.2' d='M137 75L128.641 72.7344L134.783 66.6284L137 75ZM0.817627 51.7007C0.57087 50.9924 0.571424 50.9922 0.572288 50.9919C0.57299 50.9917 0.574164 50.9913 0.575565 50.9908C0.578368 50.9898 0.582407 50.9884 0.587674 50.9866C0.598209 50.983 0.613659 50.9777 0.633972 50.9707C0.674596 50.9568 0.734668 50.9364 0.813759 50.9098C0.97194 50.8567 1.2062 50.7791 1.5131 50.6801C2.12689 50.4821 3.03131 50.1986 4.19883 49.855C6.53377 49.1678 9.92169 48.2398 14.1425 47.2737C22.5824 45.3417 34.3609 43.2553 47.7146 42.6389C74.4037 41.4069 107.503 46.044 132.759 69.6714L131.734 70.7667C106.902 47.536 74.2873 42.9139 47.7838 44.1373C34.5412 44.7485 22.8539 46.8184 14.4772 48.7358C10.2896 49.6944 6.9314 50.6144 4.62234 51.294C3.46786 51.6337 2.57579 51.9134 1.97361 52.1076C1.67252 52.2048 1.44392 52.2805 1.29123 52.3318C1.21489 52.3574 1.15753 52.3769 1.11958 52.3899C1.1006 52.3964 1.08648 52.4013 1.07726 52.4045C1.07265 52.4061 1.06927 52.4072 1.06712 52.408C1.06605 52.4084 1.06536 52.4086 1.06483 52.4088C1.06445 52.4089 1.06438 52.4089 0.817627 51.7007Z' fill='black'/%3E%3C/svg%3E%0A");
    }
  }

  &_4 {
    transform: translate(360px, 20px);
    width: 225px;

    &::after {
      top: -56px;
      right: 104%;
      content: url("data:image/svg+xml,%3Csvg width='170' height='146' viewBox='0 0 170 146' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.2' d='M3.91023 88.2579L12.3077 86.1405L6.27523 79.9269L3.91023 88.2579ZM169.015 62.9971C169.183 62.2662 169.183 62.2661 169.182 62.2658C169.181 62.2656 169.179 62.2653 169.177 62.2649C169.174 62.2641 169.169 62.2629 169.162 62.2613C169.148 62.2582 169.128 62.2536 169.101 62.2475C169.048 62.2354 168.968 62.2176 168.863 62.1943C168.654 62.1478 168.343 62.0797 167.935 61.993C167.121 61.8195 165.922 61.5714 164.378 61.2721C161.29 60.6736 156.825 59.8701 151.307 59.0492C140.272 57.4075 125.021 55.6945 108.157 55.4114C74.479 54.8459 34.1581 59.977 8.24972 83.0007L9.24613 84.122C34.7049 61.4978 74.5174 56.3468 108.131 56.9112C124.913 57.1929 140.097 58.8979 151.086 60.5328C156.58 61.3502 161.024 62.1498 164.092 62.7447C165.627 63.0421 166.817 63.2884 167.623 63.4601C168.026 63.5459 168.333 63.6131 168.538 63.6587C168.641 63.6815 168.719 63.6989 168.77 63.7106C168.796 63.7164 168.815 63.7208 168.828 63.7237C168.834 63.7252 168.839 63.7263 168.842 63.727C168.844 63.7273 168.845 63.7276 168.846 63.7277C168.846 63.7279 168.846 63.7279 169.015 62.9971Z' fill='black'/%3E%3C/svg%3E%0A");
    }
  }

  &_5 {
    transform: translate(300px, -95px);
    width: 240px;

    &::after {
      top: -50px;
      right: 104%;
      content: url("data:image/svg+xml,%3Csvg width='202' height='173' viewBox='0 0 202 173' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.2' d='M3.47808 103.75L11.9219 101.826L6.0335 95.4757L3.47808 103.75ZM199.807 72.0443C190.394 81.4576 176.719 85.5413 160.627 86.8892C144.539 88.2368 126.171 86.841 107.47 85.4129C88.7994 83.987 69.8033 82.5298 52.5655 83.7913C35.3286 85.0528 19.7443 89.038 7.95174 98.5817L8.89539 99.7477C20.3434 90.4828 35.5695 86.5392 52.675 85.2873C69.7796 84.0355 88.6581 85.4806 107.356 86.9085C126.025 88.3342 144.521 89.7436 160.753 88.384C176.982 87.0245 191.084 82.8883 200.867 73.105L199.807 72.0443Z' fill='black'/%3E%3C/svg%3E%0A");
    }
  }
}

@mixin parts--lg() {
  .parts__preview {
    width: 500px;
  }

  .part {
  
    &_1 {
      text-align: right;
      transform: translate(-478px, 22px);
      width: 170px;
    }
  
    &_2 {
      transform: translate(100px, -170px);
      width: 130px;

      &::after {
        top: 0;
        right: 93%;
        transform: skew(36deg, 353deg);
      }
    }
  
    &_3 {
      transform: translate(-469px, 152px);
      width: 200px;
      text-align: right;
  
      &::after {
        top: -40px;
        left: 90%;
        transform: scaleX(0.6);
      }
    }
  
    &_4 {
      transform: translate(260px, 20px);
      width: 225px;
  
      &::after {
        transform: scaleX(0.7);
        right: 93%;
      }
    }
  
    &_5 {
      transform: translate(230px, -95px);
      width: 235px;
  
      &::after {
        transform: scaleX(0.8);
        right: 95%;
      }
    }
  }
}

@mixin parts--md() {
  .parts {

    &__preview {
      width: 100%;
      padding-top: 150px;
      padding-bottom: 285px;

      &-circle {
        display: none;
      }
    }

    &__wrapper {
      width: 100%;
      margin: 0 auto;
      // display: none;
      // flex-wrap: wrap;

      &-sm {
        position: relative;
        max-width: 360px;
        margin: 0 auto;
      }
    }
  }

  .part {
    display: block;
    transform: none;
    text-align: center;
    width: 45%;
    margin-right: 0;
    left: unset;
    top: unset;
    right: unset;
    bottom: unset;

    &::after {
      content: '';
      transform: none;
    }

    &_5 {
      left: 26px;
      top: 8px;
      max-width: 130px;

      &::after {
        content: url("data:image/svg+xml,%3Csvg width='45' height='90' viewBox='0 0 45 90' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.2' d='M44.7367 87.7134L36.3361 89.818L38.7138 81.4906L44.7367 87.7134ZM10.1079 0.477051C10.7784 0.812979 10.7785 0.812945 10.7783 0.813159C10.7781 0.813563 10.7779 0.814026 10.7775 0.814831C10.7767 0.816442 10.7754 0.819043 10.7736 0.822628C10.7701 0.829799 10.7646 0.840907 10.7572 0.855898C10.7424 0.88588 10.7201 0.931396 10.6908 0.992022C10.6322 1.11328 10.5454 1.29496 10.4343 1.53368C10.2122 2.01115 9.89299 2.71667 9.50749 3.62316C8.73637 5.43641 7.70072 8.05225 6.64662 11.2542C4.53678 17.6632 2.36117 26.3959 2.07197 35.7291C1.78279 45.0615 3.3804 54.9544 8.77468 63.7301C14.1616 72.4939 23.38 80.2172 38.4708 85.1449L38.0052 86.5709C22.6285 81.5498 13.0969 73.6261 7.49679 64.5156C1.90402 55.417 0.277521 45.2084 0.572686 35.6827C0.867823 26.1579 3.08498 17.2762 5.22184 10.7852C6.29108 7.53722 7.34225 4.88173 8.12712 3.03614C8.51962 2.11321 8.84568 1.39243 9.07433 0.900953C9.18866 0.655205 9.27865 0.466753 9.34043 0.338992C9.37133 0.275111 9.39517 0.226399 9.41148 0.19328C9.41963 0.176721 9.4259 0.164059 9.43023 0.155349C9.43239 0.150994 9.43407 0.147626 9.43525 0.145253C9.43584 0.144067 9.43636 0.143034 9.43666 0.14244C9.43705 0.141657 9.43731 0.141123 10.1079 0.477051Z' fill='black'/%3E%3C/svg%3E%0A");
        right: 33%;
        top: 97%;
      } 
    }

    &_4 {
      top: 8px;
      right: 20px;
      max-width: 140px;

      &::after {
        content: url("data:image/svg+xml,%3Csvg width='58' height='83' viewBox='0 0 58 83' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.2' d='M26.368 80.3035L25.5566 71.6814L18.4953 76.6952L26.368 80.3035ZM38.6257 1.55786C38.1673 0.964269 38.1669 0.964596 38.1663 0.965046C38.1659 0.965362 38.1652 0.965938 38.1643 0.96657C38.1627 0.967835 38.1604 0.969596 38.1575 0.971852C38.1517 0.976366 38.1434 0.98286 38.1326 0.991325C38.111 1.00825 38.0795 1.03306 38.0386 1.06566C37.9566 1.13085 37.8368 1.2272 37.6825 1.35395C37.3738 1.60745 36.927 1.98266 36.3691 2.4736C35.2534 3.45534 33.6923 4.90073 31.9024 6.76207C28.3248 10.4825 23.8211 15.8767 20.1345 22.5633C12.7491 35.9585 8.63843 54.5725 21.827 75.202L23.0908 74.3941C10.2766 54.3501 14.2494 36.344 21.4481 23.2875C25.0535 16.7482 29.467 11.4587 32.9836 7.80178C34.7408 5.97448 36.2711 4.55784 37.36 3.59971C37.9044 3.12071 38.3381 2.75652 38.6345 2.51311C38.7827 2.39141 38.8965 2.29992 38.9726 2.23939C39.0106 2.20913 39.0392 2.1866 39.0579 2.17192C39.0673 2.16457 39.0742 2.15919 39.0786 2.15577C39.0808 2.15407 39.0823 2.15285 39.0833 2.15213C39.0837 2.15177 39.084 2.1516 39.0842 2.15142C39.0843 2.15138 39.0842 2.15145 38.6257 1.55786Z' fill='black'/%3E%3C/svg%3E%0A");
        right: 79%;
        top: 62%;
      }
    }

    &_2 {
      top: 345px;
      left: 0;
      width: 100%;

      &::after {
        content: url("data:image/svg+xml,%3Csvg width='78' height='114' viewBox='0 0 78 114' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.2' d='M17.3183 2.33282L21.874 9.69798L25.9746 2.07005L17.3183 2.33282ZM30.934 108.671C38.4584 108.158 46.4461 104.026 53.009 97.5263C59.5801 91.0182 64.7762 82.0859 66.6831 71.875C70.5123 51.3705 61.0506 25.9913 23.6263 4.87251L22.8891 6.17886C59.9367 27.0851 68.8857 51.9094 65.2086 71.5997C63.3623 81.4862 58.3261 90.1491 51.9535 96.4606C45.5728 102.78 37.9057 106.692 30.832 107.175L30.934 108.671Z' fill='black'/%3E%3C/svg%3E%0A");
        top: unset;
        right: 10%;
        bottom: 60%;
      }
    }

    &_1 {
      top: 400px;
      left: 0;
      width: 45%;
    }

    &_3 {
      top: 400px;
      right: 0;
      width: 45%;
    }
  }
}

@mixin parts--sm() {
  .parts {
    &__preview {
      padding-top: 115px;
      padding-bottom: 225px;
    }

    &__wrapper {

      &-sm {
        max-width: 300px;
      }
    }
  }

  .part {

    &__name {
      font-size: rem(18px);
    }

    &_5 {
      left: 0px;
      top: 0px;
    }

    &_4 {
      top: 0px;
      right: 5px;
    }

    &_2 {
      top: 290px;

      &::after {
        right: 5%;
      }
    }

    &_1 {
      top: 340px;
    }

    &_3 {
      top: 340px;
    }
  }
}

@mixin parts--xs() {
  .parts {

    &__wrapper {

      &-sm {
        max-width: 270px;
      }
    }
  }

  .part {
    &__img {
      width: 100px;
      height: 100px;
    }
  }
}
