.serts {
  padding-top: 80px;
  padding-bottom: 80px;

  &__img {
    width: 450px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;

    &-circle {
      position: absolute;
      z-index: -1;

      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      width: 113%;

      background: $white;
      box-shadow: 0px 22px 22px rgba(0, 0, 0, 0.11);
      border-radius: 50%;

      &::after {
        content: '';
        display: block;
        padding-top: 100%;
      }
    }
  }

  &__title {
    line-height: 1.35;
    margin-bottom: rem(40px);
    max-width: 590px;
  }

  &__text {
    font-size: rem(20px);
    font-weight: 300;
    margin-bottom: rem(27px);

    &:last-of-type {
      margin-bottom: rem(40px);
    }
  }
}

@mixin serts--lg() {
  
}

@mixin serts--md() {
  .serts {

    &__title {
      max-width: 575px;
    }

    &__img {
      right: -15%;
    }
  }
}

@mixin serts--sm() {
  .serts {

    &__img {
      width: 300px;
      top: 74%;
      right: -19%;
    }
  }
}

@mixin serts--xs() {
  .serts {

    &__img {
      width: 100%;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
      opacity: .2;

      &-circle {
        display: none;
      }
    }
  }
}